<html>

<head>
</head>

<body>
  <div><b>{{ dst['street_no'] }} {{ dst['street_name'] }} {{ dst['street_type'] }} {{ dst['street_side'] }}</b></div>
  <div><a>{{ dst['land_use'] }}</a></div>
  <center><div id="mapdiv" style="width: 80%; height: 90%; border: 5px solid black; border-radius: 10px; margin: 5px;"></div></center>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var lonLat = new OpenLayers.LonLat( {{ dst['lon'] }} , {{ dst['lat'] }} )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
          
    var zoom=16;

    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    
    markers.addMarker(new OpenLayers.Marker(lonLat));
    
    map.setCenter (lonLat, zoom);
  </script>
</body>

</html>
